*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer {
    background-color: lightgrey;
    width: 100%;
    border: 2px solid black;
    overflow: auto;

}
.about_header{
    width: 80%;
    padding: 20px;
    border-bottom: 2px solid grey;
    margin: auto;
    margin-bottom: 20px;
    
}
.about_header h1{
    color: teal;
    font-size: 35px;
}

.about_image {
    float: left;
    height: 200px;
    width: 200px;
    padding: 0 5px 5px 5px;
}
.maincontainer p {
    
    text-align: justify;
}