*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.maincontainer {
    background-color: white;
    width: 100%;
    /* border: 2px solid black; */
    overflow: auto;

}
.about_header{
    width: 80%;
    padding: 20px 20px 20px 0px;
    border-bottom: 2px solid grey;
    margin: auto;
    margin-bottom: 20px;
    
}
.about_header h1{
    color: teal;
    font-size: 35px;
}

.about_image {
   
    float: left;
    height: 215px;
    width: 175px;
    margin-right: 20px;
    padding: .5em;
    box-shadow: 10px 5px 5px #aaaaaa;
    border: 1px solid teal;
    margin-bottom: 2px;
}
.maincontainer p {
    
    margin-left: 0 px;
    width: 100%;
    text-align: justify;
}
.about_body{
    width: 80%;
    padding: 0;
    margin: auto;
    
    margin-bottom: 20px;
    
}