*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}

.container {
    width: 900px;
    background-color: lightgray;
    margin: auto;
}
.clear {
    clear: both;
}