*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}

.container {
    width: 900px;
    background-color: lightgray;
    margin: auto;
    padding: 0;
    border: 5px inset rgb(234, 236, 100);
}
.clear {
    clear: both;
}