*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    border-bottom: 2px solid grey;
    overflow: auto;
    background-color: white;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    height: 100%; /* Full height */
}
.navbar li {
    display: inline;
    
}
.leftnavbar {
    float: left;
}
.rightnavbar {
    float: right;
}
.navbar a{
    font-size: 25px;
    text-decoration: none;
    display: block;
    padding: 8px;
    background-color: white;

}
.navbar a:hover {
    background-color: teal;
    color: white;
}
.navbar .active a{
    background-color: teal; 
    color: white;
}