*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.portfolio_main_container {
    background-color: white;
    width: 100%;
    /* border: 2px solid black; */
    overflow: auto;

}
.portfolio_header{
    width: 80%;
    padding: 20px 20px 20px 0px;
    border-bottom: 2px solid grey;
    margin: auto;
    margin-bottom: 20px;
    
}
.portfolio_header h1{
    color: teal;
    font-size: 35px;
}

.portfolio_image {
   
    
    height: 100%;
    width: 100%;
    
    
    
}
.portfolio_main_container p {
    
    
    width: 100%;
   
    
}
.portfolio_body{
    width: 100%;
    padding: 0 70px 0 70px;
    margin: auto;
    
    
    
}
.description {
    position: absolute;
    background-color: teal;
    top: 75%;
    width: 100%;
    z-index: 2;
    text-align: center;
    color: white;

    
}
.mini_container{
    float: left;
    height: 215px;
    width: 32%;
    margin-right: 10px;
    margin-bottom: 10px;
    
    box-shadow: 10px 5px 5px #aaaaaa;
    border: 1px solid teal;
    /* overflow: auto; */
    position: relative;

}